In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dikson,RU,2020-02-21 18:59:43,73.51,80.55,7.90,93,100,20.74
1,1,Ushuaia,AR,2020-02-21 18:58:27,-54.80,-68.30,59.00,72,40,25.28
2,2,Tasiilaq,GL,2020-02-21 18:59:43,65.61,-37.64,10.89,59,95,4.27
3,3,Maceio,BR,2020-02-21 18:57:12,-9.67,-35.74,82.40,83,75,11.41
4,4,Yellowknife,CA,2020-02-21 18:59:43,62.46,-114.35,12.20,85,40,11.41

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Maceio,BR,2020-02-21 18:57:12,-9.67,-35.74,82.40,83,75,11.41
6,6,Busselton,AU,2020-02-21 18:59:44,-33.65,115.33,75.99,22,100,10.85
9,9,Santarem,BR,2020-02-21 18:59:45,-2.44,-54.71,82.40,83,40,5.82
10,10,Puerto Ayora,EC,2020-02-21 18:59:45,-0.74,-90.35,82.40,74,75,3.36
14,14,Vaini,TO,2020-02-21 18:59:47,-21.20,-175.20,75.20,78,20,9.17
16,16,Bambous Virieux,MU,2020-02-21 18:59:47,-20.34,57.76,79.00,74,40,8.05
17,17,My Tho,VN,2020-02-21 18:59:46,10.35,106.35,75.20,69,20,5.82
18,18,Gashua,NG,2020-02-21 18:59:47,12.87,11.05,81.72,12,0,10.40
19,19,Hithadhoo,MV,2020-02-21 18:59:48,-0.60,73.08,84.11,79,85,13.06
22,22,Yulara,AU,2020-02-21 18:59:48,-25.24,130.99,78.80,26,0,11.41

In [21]:
preferred_cities_df.count()

City_ID       138
City          138
Country       138
Date          138
Lat           138
Lng           138
Max Temp      138
Humidity      138
Cloudiness    138
Wind Speed    138
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

              City Country  Max Temp    Lat     Lng Hotel Name
3           Maceio      BR     82.40  -9.67  -35.74
6        Busselton      AU     75.99 -33.65  115.33
9         Santarem      BR     82.40  -2.44  -54.71
10    Puerto Ayora      EC     82.40  -0.74  -90.35
14           Vaini      TO     75.20 -21.20 -175.20
..             ...     ...       ...    ...     ...        ...
525         Trairi      BR     78.33  -3.28  -39.27
527     Port Keats      AU     85.77 -14.25  129.55
530         Sabang      ID     83.66   5.89   95.32
535      Les Cayes      HT     78.91  18.20  -73.75
536  Manoel Urbano      BR     83.93  -8.84  -69.26

[138 rows x 6 columns]

In [24]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Maceio,BR,82.40,-9.67,-35.74,Mercure Maceió
6,Busselton,AU,75.99,-33.65,115.33,Observatory Guest House
9,Santarem,BR,82.40,-2.44,-54.71,Hotel Imperador
10,Puerto Ayora,EC,82.40,-0.74,-90.35,Finch Bay Galapagos Hotel
14,Vaini,TO,75.20,-21.20,-175.20,Keleti Beach Resort
...,...,...,...,...,...,...
525,Trairi,BR,78.33,-3.28,-39.27,Pousada Field Lilies - Trairi
527,Port Keats,AU,85.77,-14.25,129.55,TDC Village (Hundred Man Camp)
530,Sabang,ID,83.66,5.89,95.32,Hotel Citra
535,Les Cayes,HT,78.91,18.20,-73.75,Villa Orphee
536,Manoel Urbano,BR,83.93,-8.84,-69.26,APARTAMENTOS

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [36]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))